
@if (ShowDialog)
{
    <div class="modal fade show d-block" id="mailingAddrAddModalWindow" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Add New Item</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" @onclick="@Close"></button>
                </div>
                <div class="modal-body">
                    @if (Saved == false)
                    {
                        @if (ShowSpinner)
                        {
                            <div class="mt-3 align-content-center">
                                <img src="/img/Spin-1s-200px.png" />
                            </div>
                        }
                        else
                        {
                            <EditForm Model="@MailingAddr" id="editForm" class="editForm" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
                                <DataAnnotationsValidator />
                                <div class="text-start text-danger fs-6">
                                    <ValidationSummary />
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text d-block text-end">Plant ID:</span>
                                    <InputSelect id="plantId" class="form-control" @bind-Value="@MailingAddr.PlantId">
                                        <option value="">-- select --</option>
                                        @foreach (var plant in (Model.Plant[])Enum.GetValues(typeof(Model.Plant)))
                                        {
                                            <option value="@plant">@plant</option>
                                        }
                                    </InputSelect>
                                    <CustomValidationMessage Class="ms-2 text-danger fs-4" For="@(() => MailingAddr.PlantId)" UseExclamationIcon="true" />
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text d-block text-end">Email:</span>
                                    <InputText id="email" class="form-control" @bind-Value="@MailingAddr.Email"></InputText>
                                    <CustomValidationMessage Class="ms-2 text-danger fs-4" For="@(() => MailingAddr.Email)" UseExclamationIcon="true" />
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text d-block text-end">Name:</span>
                                    <InputText id="name" class="form-control" @bind-Value="@MailingAddr.Name"></InputText>
                                    <CustomValidationMessage Class="ms-2 text-danger fs-4" For="@(() => MailingAddr.Name)" UseExclamationIcon="true" />
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text d-block text-end">Telephone:</span>
                                    <InputText id="telephone" class="form-control" @bind-Value="@MailingAddr.Telephone"></InputText>
                                    <CustomValidationMessage Class="ms-2 text-danger fs-4" For="@(() => MailingAddr.Telephone)" UseExclamationIcon="true" />
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text d-block text-end">Team:</span>
                                    <InputText id="team" class="form-control" @bind-Value="@MailingAddr.Team"></InputText>
                                    <CustomValidationMessage class="ms-2 text-danger fs-4" For="@(() => MailingAddr.Team)" UseExclamationIcon="true" />
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text d-block text-end">Inactive:</span>
                                    <InputCheckbox id="inactive" class="form-check-input ms-2 mt-2" @bind-Value="@MailingAddr.Inactive"></InputCheckbox>
                                    <CustomValidationMessage Class="ms-2 text-danger fs-4" For="@(() => MailingAddr.Inactive)" UseExclamationIcon="true" />
                                </div>
                            </EditForm>
                        }
                    }
                    else
                    {
                        <div class="alert @StatusClass">@Message</div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="@Close">Close</button>
                    @if (Saved == false)
                    {
                        <button type="submit" form="editForm" class="btn btn-primary edit-btn">Save</button>
                    }

                </div>
            </div>
        </div>
    </div>
}
