@page "/admin/boxctrls/{PlantId}/{DeviceId}"

<div class="mb-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
            <li class="breadcrumb-item"><a href="/admin/devices/@PlantId">@(PlantId) Devices</a></li>
            <li class="breadcrumb-item active" aria-current="page">Box Control</li>
        </ol>
    </nav>
</div>

<section class="jumbotron text-center">
    <div class="container">
        <div class="page-header">
            <h1>Frame Control</h1>
        </div>
        <!-- -->
        <div class="card card-block">
            <div class="card-header">
                <h3>@(DeviceId)</h3>
            </div>
            <div class="card-body">
                @if (IsDataLoaded == false)
                {
                    <div class="mt-3 align-content-center">
                        <img src="/img/Spin-1s-200px.png" />
                    </div>
                }
                else
                {
                    @if (BoxCtrl == null)
                    {
                        <a href="@($"/admin/boxctrls/add/{PlantId}?deviceId={DeviceId}")" class="btn btn-lg">
                            <i class="fas fa-plus-circle"></i>
                        </a>
                        <button class="btn btn-lg text-primary" @onclick="ShowBoxCtrlAddDialog">
                            <i class="fas fa-plus-circle"></i>
                        </button>
                    }
                    <BoxCtrlAddDialog @ref="BoxCtrlAddDialog" PlantId="@PlantId" DeviceId="@DeviceId" CloseEventCallback="@BoxCtrlAddDialog_OnDialogClose" />
                    <table id="frame_info" class="table table-sm table-bordered">
                        <thead class="table-light text-center">
                            <tr>
                                <th scope="col">Device ID</th>
                                <th scope="col">Max. Temp.</th>
                                <th scope="col">Warning Temp.</th>
                                <th scope="col">Insp. Radius(px)</th>
                                <th scope="col">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (BoxCtrl != null)
                            {
                                <tr>
                                    <td class="align-middle">@BoxCtrl.DeviceId</td>
                                    <td class="align-middle">@BoxCtrl.TMax</td>
                                    <td class="align-middle">@BoxCtrl.TWarning</td>
                                    <td class="align-middle">@BoxCtrl.InspRadiusPixel</td>
                                    <td class="align-middle fs-4">
                                        <a href="@($"/admin/boxctrls/edit/{PlantId}/{BoxCtrl.DeviceId}")" class="btn btn-lg text-primary">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }

                <a class="btn btn-outline-primary ms-2" @onclick="@NavigateToDevices">Back to @(PlantId) Devices</a>
            </div>
        </div>
    </div>
</section>