@page "/admin/roictrls/add/{PlantId}"
@page "/admin/roictrls/edit/{PlantId}/{DeviceId}/{RoiId:int}"

<div class="mb-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
            <li class="breadcrumb-item"><a href="/admin/devices/@PlantId">@(PlantId) Devices</a></li>
            <li class="breadcrumb-item"><a href="/admin/framectrls/@PlantId/@DeviceId">ROI Control</a></li>
            @if (IsAddMode)
            {
                <li class="breadcrumb-item active" aria-current="page">Add</li>
            }
            else
            {
                <li class="breadcrumb-item active" aria-current="page">Edit</li>
            }
        </ol>
    </nav>
</div>
<section class="jumbotron text-center">
    <div class="container">
        <div class="page-header">
            @if (IsAddMode)
            {
                <h1>Add</h1>
            }
            else
            {
                <h1>Edit</h1>
            }
        </div>
        <!-- -->
        <div class="card card-block">
            <div class="card-header">
                @if (IsAddMode)
                {
                    <h3>New</h3>
                }
                else
                {
                    <h3>@(DeviceId) : ROI @RoiId</h3>
                }
            </div>
            <div class="card-body">
                @if (Saved == false)
                {
                    @if (ShowSpinner)
                    {
                        <div class="mt-3 align-content-center">
                            <img src="/img/Spin-1s-200px.png" />
                        </div>
                    }
                    else
                    {
                        <EditForm Model="@RoiCtrl" class="editForm" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
                            <DataAnnotationsValidator />
                            <div class="text-start text-danger fs-6">
                                <ValidationSummary />
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text d-block text-end">Device ID:</span>
                                <InputText id="deviceId" class="form-control" @bind-Value="@RoiCtrl.DeviceId" readonly></InputText>
                                <CustomValidationMessage Class="ms-2 text-danger fs-4" For="@(() => RoiCtrl.DeviceId)" UseExclamationIcon="true" />
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text d-block text-end">ROI ID:</span>
                                <InputNumber id="roiId" class="form-control" @bind-Value="@RoiCtrl.RoiId"></InputNumber>
                                <CustomValidationMessage Class="ms-2 text-danger fs-4" For="@(() => RoiCtrl.RoiId)" UseExclamationIcon="true" />
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text d-block text-end">UCL I (max):</span>
                                <InputNumber id="uclIMax" class="form-control" @bind-Value="@RoiCtrl.UclIMax"></InputNumber>
                                <CustomValidationMessage Class="ms-2 text-danger fs-4" For="@(() => RoiCtrl.UclIMax)" UseExclamationIcon="true" />
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text d-block text-end">LCL I (max):</span>
                                <InputNumber id="uclIMax" class="form-control" @bind-Value="@RoiCtrl.LclIMax"></InputNumber>
                                <CustomValidationMessage Class="ms-2 text-danger fs-4" For="@(() => RoiCtrl.LclIMax)" UseExclamationIcon="true" />
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text d-block text-end">UCL MR (max):</span>
                                <InputNumber id="uclMrMax" class="form-control" @bind-Value="@RoiCtrl.UclMrMax"></InputNumber>
                                <CustomValidationMessage Class="ms-2 text-danger fs-4" For="@(() => RoiCtrl.UclMrMax)" UseExclamationIcon="true" />
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text d-block text-end">UCL I (diff):</span>
                                <InputNumber id="uclIDiff" class="form-control" @bind-Value="@RoiCtrl.UclIDiff"></InputNumber>
                                <CustomValidationMessage Class="ms-2 text-danger fs-4" For="@(() => RoiCtrl.UclIDiff)" UseExclamationIcon="true" />
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text d-block text-end">LCL I (diff):</span>
                                <InputNumber id="lclIDiff" class="form-control" @bind-Value="@RoiCtrl.LclIDiff"></InputNumber>
                                <CustomValidationMessage Class="ms-2 text-danger fs-4" For="@(() => RoiCtrl.LclIDiff)" UseExclamationIcon="true" />
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text d-block text-end">UCL MR (diff):</span>
                                <InputNumber id="uclMrDiff" class="form-control" @bind-Value="@RoiCtrl.UclMrDiff"></InputNumber>
                                <CustomValidationMessage class="ms-2 text-danger fs-4" For="@(() => RoiCtrl.UclMrDiff)" UseExclamationIcon="true" />
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text d-block text-end">Warning Temp.:</span>
                                <InputNumber id="tWarning" class="form-control" @bind-Value="@RoiCtrl.TWarning"></InputNumber>
                                <CustomValidationMessage class="ms-2 text-danger fs-4" For="@(() => RoiCtrl.TWarning)" UseExclamationIcon="true" />
                            </div>

                            <button type="submit" class="btn btn-primary edit-btn">Save</button>
                            @if (IsAddMode == false)
                            {
                                <a class="btn btn-danger ms-2" @onclick="@Delete">Delete</a>
                            }
                            <a class="btn btn-outline-primary ms-2" @onclick="@NavigateToOverview">Back to ROI Control</a>
                        </EditForm>
                    }
                }
                else
                {
                    <div class="alert @StatusClass">@Message</div>
                    <a class="btn btn-outline-primary mt-2 ms-2" @onclick="@NavigateToOverview">Back to ROI Control</a>
                }
            </div>
        </div>
    </div>
</section>