@page "/admin/roictrls/{PlantId}/{DeviceId}"

<div class="mb-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
            <li class="breadcrumb-item"><a href="/admin/devices/@PlantId">@(PlantId) Devices</a></li>
            <li class="breadcrumb-item active" aria-current="page">ROI Control</li>
        </ol>
    </nav>
</div>

<section class="jumbotron text-center">
    <div class="container">
        <div class="page-header">
            <h1>ROI Control</h1>
        </div>
        <!-- -->
        <div class="card card-block">
            <div class="card-header">
                <h3>@(DeviceId)</h3>
            </div>
            <div class="card-body">
                @if (IsDataLoaded == false)
                {
                    <div class="mt-3 align-content-center">
                        <img src="/img/Spin-1s-200px.png" />
                    </div>
                }
                else
                {
                    <a href="@($"/admin/roictrls/add/{PlantId}?deviceId={DeviceId}")" class="btn btn-lg">
                        <i class="fas fa-plus-circle"></i>
                    </a>
                    <button class="btn btn-lg text-primary" @onclick="ShowRoiCtrlAddDialog">
                        <i class="fas fa-plus-circle"></i>
                    </button>
                    <RoiCtrlAddDialog @ref="RoiCtrlAddDialog" PlantId="@PlantId" DeviceId="@DeviceId" CloseEventCallback="@RoiCtrlAddDialog_OnDialogClose" />
                    <table id="frame_info" class="table table-sm table-bordered">
                        <thead class="table-light text-center">
                            <tr>
                                <th scope="col">Device ID</th>
                                <th scope="col">ROI ID</th>
                                <th scope="col">UCL I (max)</th>
                                <th scope="col">LCL I (max)</th>
                                <th scope="col">UCL MR (max)</th>
                                <th scope="col">UCL I (diff)</th>
                                <th scope="col">LCL I (diff)</th>
                                <th scope="col">UCL MR (diff)</th>
                                <th scope="col">Warning Temp.</th>
                                <th scope="col">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (RoiCtrls != null)
                            {
                                @foreach (var roiCtrl in RoiCtrls)
                                {
                                    <tr>
                                        <td class="align-middle">@roiCtrl.DeviceId</td>
                                        <td class="align-middle">@roiCtrl.RoiId</td>
                                        <td class="align-middle">@roiCtrl.UclIMax</td>
                                        <td class="align-middle">@roiCtrl.LclIMax</td>
                                        <td class="align-middle">@roiCtrl.UclMrMax</td>
                                        <td class="align-middle">@roiCtrl.UclIDiff</td>
                                        <td class="align-middle">@roiCtrl.LclIDiff</td>
                                        <td class="align-middle">@roiCtrl.UclMrDiff</td>
                                        <td class="align-middle">@roiCtrl.TWarning</td>
                                        <td class="align-middle fs-4">
                                            <a href="@($"/admin/roictrls/edit/{PlantId}/{roiCtrl.DeviceId}/{roiCtrl.RoiId}")" class="btn btn-lg text-primary">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                }

                <a class="btn btn-outline-primary ms-2" @onclick="@NavigateToDevices">Back to @(PlantId) Devices</a>
            </div>
        </div>
    </div>
</section>