@page "/{PlantId}/{LocationId}/{DeviceId}/frame/maxpos"
@{
    //var CHART_STYLE_KEY = "max_pos_pg_chart_style";
}

<div class="mb-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/@PlantId">@PlantId</a></li>
            <li class="breadcrumb-item"><a href="/@PlantId/@LocationId/@DeviceId">@LocationId</a></li>
            <li class="breadcrumb-item active" aria-current="page">Position of Max. Temperatures</li>
        </ol>
    </nav>
</div>

<section class="jumbotron text-center">
    <div class="container">
        <div class="page-header">
            <h1>Position of Max. Temperatures</h1>
            <p>@DeviceId</p>
        </div>
        <!-- Menu -->
        <div class="row">
            <div class="col-lg-6 m-1">
                <div class="input-group">
                    <span class="input-group-text">Time Range:</span>
                    <input type="text" class="form-control" name="datetimes" id="timeRange"
                           readonly />
                </div>
            </div>
            <div class="col-lg-2 m-1">
                <button class="btn btn-primary w-100" @onclick="LoadChartAsync">Load</button>
            </div>
        </div>
        <!-- Spinner -->
        <div class="mt-3">
            <Spinner />
        </div>
        <!-- Max. Temperature -->
        <div class="card mt-3">
            <div class="card-header">
                Frame
            </div>
            <div class="card-body">
                <div class="maxPosWrapper">
                    <div class="maxPosChartWrapper" style="background-image: url('/img/devices/@(DeviceId)_RGB.jpg')">
                        @*<div id="maxPosChart" class="maxPosChart" style="width: 650px; height: 480px; margin-top: 95px; margin-left: 85px;"></div>*@
                        <div id="maxPosChart" class="maxPosChart" style='@AppUiCfgProvider.GetUiCfgs(DeviceId)["max_pos_pg_chart_style"]'></div>
                    </div>
                    <div id="maxPosTable" class="maxPosTable"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<MessageModalWindow Title="@ModalTitle" Message="@ModalMessage" />
